BASE_URL=https://www.bizzy.co.id
BASE_URL_FACEBOOK=https://www.facebook.com
BASE_URL_INSTAGRAM=https://www.instagram.com
BASE_URL_TWITTER=https://twitter.com
BASE_URL_LINKEDIN=https://www.linkedin.com
BASE_URL_SELENIUMEASY_PRACTICE=http://www.seleniumeasy.com/test
API_BASE_URL=http://localhost:12000


FACEBOOK_USERNAME=
FACEBOOK_PASSWORD=
FACEBOOK_PROFILE_NAME=
