11:14:36.533 INFO - Selenium build info: version: '3.6.0', revision: '6fbf3ec767'
11:14:36.533 INFO - Launching a standalone Selenium Server
2017-10-31 11:14:36.545:INFO::main: Logging initialized @153ms to org.seleniumhq.jetty9.util.log.StdErrLog
11:14:36.586 INFO - Driver class not found: com.opera.core.systems.OperaDriver
11:14:36.609 INFO - Driver provider class org.openqa.selenium.ie.InternetExplorerDriver registration is skipped:
 registration capabilities Capabilities [{ensureCleanSession=true, browserName=internet explorer, version=, platform=WINDOWS}] does not match the current platform LINUX
11:14:36.609 INFO - Driver provider class org.openqa.selenium.edge.EdgeDriver registration is skipped:
 registration capabilities Capabilities [{browserName=MicrosoftEdge, version=, platform=WINDOWS}] does not match the current platform LINUX
11:14:36.609 INFO - Driver provider class org.openqa.selenium.safari.SafariDriver registration is skipped:
 registration capabilities Capabilities [{browserName=safari, version=, platform=MAC}] does not match the current platform LINUX
11:14:36.627 INFO - Using the passthrough mode handler
2017-10-31 11:14:36.645:INFO:osjs.Server:main: jetty-9.4.5.v20170502
2017-10-31 11:14:36.675:WARN:osjs.SecurityHandler:main: ServletContext@o.s.j.s.ServletContextHandler@7791a895{/,null,STARTING} has uncovered http methods for path: /
2017-10-31 11:14:36.680:INFO:osjsh.ContextHandler:main: Started o.s.j.s.ServletContextHandler@7791a895{/,null,AVAILABLE}
2017-10-31 11:14:36.693:INFO:osjs.AbstractConnector:main: Started ServerConnector@1f554b06{HTTP/1.1,[http/1.1]}{0.0.0.0:4444}
2017-10-31 11:14:36.694:INFO:osjs.Server:main: Started @302ms
11:14:36.694 INFO - Selenium Server is up and running
2017-10-31 11:14:37.214:INFO:osjshC.ROOT:qtp1068824137-10: org.openqa.selenium.remote.server.WebDriverServlet-ae45eb6: Initialising WebDriverServlet
11:14:37.239 INFO - Binding default provider to: org.openqa.selenium.chrome.ChromeDriverService
11:14:37.240 INFO - Found handler: org.openqa.selenium.remote.server.commandhandler.BeginSession@334d4d74
11:14:37.243 INFO - /session: Executing POST on /session (handler: BeginSession)
11:14:37.274 INFO - Capabilities are: Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, }
11:14:37.275 INFO - Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, } matched class org.openqa.selenium.remote.server.ServicedSession$Factory (provider: org.openqa.selenium.chrome.ChromeDriverService)
11:14:37.275 INFO - Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, } matched class org.openqa.selenium.remote.server.ServicedSession$Factory (provider: org.openqa.selenium.chrome.ChromeDriverService)
11:14:37.275 INFO - Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, } matched class org.openqa.selenium.remote.server.ServicedSession$Factory (provider: org.openqa.selenium.chrome.ChromeDriverService)
Starting ChromeDriver 2.33.506092 (733a02544d189eeb751fe0d7ddca79a0ee28cce4) on port 29985
Only local connections are allowed.
11:14:37.886 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@22a93598
11:14:37.886 INFO - Handler thread for session fa32a61fb2291454fcf2d3a0ca9fc44f (chrome): Executing POST on /session/fa32a61fb2291454fcf2d3a0ca9fc44f/url (handler: ServicedSession)
11:14:37.888 INFO - To upstream: {"url":"https://www.bizzy.co.id/"}
11:14:42.984 INFO - To downstream: {"sessionId":"fa32a61fb2291454fcf2d3a0ca9fc44f","status":0,"value":null}
11:14:43.006 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@22a93598
11:14:43.006 INFO - Handler thread for session fa32a61fb2291454fcf2d3a0ca9fc44f (chrome): Executing POST on /session/fa32a61fb2291454fcf2d3a0ca9fc44f/elements (handler: ServicedSession)
11:14:43.007 INFO - To upstream: {"using":"css selector","value":"body"}
11:14:43.029 INFO - To downstream: {"sessionId":"fa32a61fb2291454fcf2d3a0ca9fc44f","status":0,"value":[{"ELEMENT":"0.10388652536046927-1"}]}
11:14:43.033 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@22a93598
11:14:43.033 INFO - Handler thread for session fa32a61fb2291454fcf2d3a0ca9fc44f (chrome): Executing GET on /session/fa32a61fb2291454fcf2d3a0ca9fc44f/element/0.10388652536046927-1/displayed (handler: ServicedSession)
11:14:43.047 INFO - To downstream: {"sessionId":"fa32a61fb2291454fcf2d3a0ca9fc44f","status":0,"value":true}
11:14:43.055 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@22a93598
11:14:43.055 INFO - Handler thread for session fa32a61fb2291454fcf2d3a0ca9fc44f (chrome): Executing GET on /session/fa32a61fb2291454fcf2d3a0ca9fc44f/title (handler: ServicedSession)
11:14:43.058 INFO - To downstream: {"sessionId":"fa32a61fb2291454fcf2d3a0ca9fc44f","status":0,"value":"Belanja Alat Kantor, Elektronik, Dapur Harga Murah - Bizzy"}
11:14:43.061 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@22a93598
11:14:43.061 INFO - Handler thread for session fa32a61fb2291454fcf2d3a0ca9fc44f (chrome): Executing DELETE on /session/fa32a61fb2291454fcf2d3a0ca9fc44f (handler: ServicedSession)
11:14:43.112 INFO - To downstream: {"sessionId":"fa32a61fb2291454fcf2d3a0ca9fc44f","status":0,"value":null}
11:14:43.115 INFO - Removing session org.openqa.selenium.remote.server.ServicedSession@22a93598
11:14:43.116 INFO - To downstream: {"sessionId":"fa32a61fb2291454fcf2d3a0ca9fc44f","status":0,"value":null}
11:14:43.121 INFO - Binding default provider to: org.openqa.selenium.chrome.ChromeDriverService
11:14:43.121 INFO - Found handler: org.openqa.selenium.remote.server.commandhandler.BeginSession@503ba806
11:14:43.121 INFO - /session: Executing POST on /session (handler: BeginSession)
11:14:43.122 INFO - Capabilities are: Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, }
11:14:43.122 INFO - Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, } matched class org.openqa.selenium.remote.server.ServicedSession$Factory (provider: org.openqa.selenium.chrome.ChromeDriverService)
11:14:43.122 INFO - Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, } matched class org.openqa.selenium.remote.server.ServicedSession$Factory (provider: org.openqa.selenium.chrome.ChromeDriverService)
11:14:43.122 INFO - Capabilities {acceptSslCerts=true, browserName=chrome, javascriptEnabled=true, chromeOptions={args=[headless]}, platformName=ANY, platform=ANY, } matched class org.openqa.selenium.remote.server.ServicedSession$Factory (provider: org.openqa.selenium.chrome.ChromeDriverService)
Starting ChromeDriver 2.33.506092 (733a02544d189eeb751fe0d7ddca79a0ee28cce4) on port 26055
Only local connections are allowed.
11:14:43.838 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:43.838 INFO - Handler thread for session 4abd96535fb97f33358d41fc6719da40 (chrome): Executing POST on /session/4abd96535fb97f33358d41fc6719da40/url (handler: ServicedSession)
11:14:43.839 INFO - To upstream: {"url":"https://www.bizzy.co.id/"}
11:14:48.776 INFO - To downstream: {"sessionId":"4abd96535fb97f33358d41fc6719da40","status":0,"value":null}
11:14:48.789 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:48.789 INFO - Handler thread for session 4abd96535fb97f33358d41fc6719da40 (chrome): Executing POST on /session/4abd96535fb97f33358d41fc6719da40/elements (handler: ServicedSession)
11:14:48.793 INFO - To upstream: {"using":"css selector","value":"body"}
11:14:48.828 INFO - To downstream: {"sessionId":"4abd96535fb97f33358d41fc6719da40","status":0,"value":[{"ELEMENT":"0.03250983790134088-1"}]}
11:14:48.830 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:48.830 INFO - Handler thread for session 4abd96535fb97f33358d41fc6719da40 (chrome): Executing GET on /session/4abd96535fb97f33358d41fc6719da40/element/0.03250983790134088-1/displayed (handler: ServicedSession)
11:14:48.850 INFO - To downstream: {"sessionId":"4abd96535fb97f33358d41fc6719da40","status":0,"value":true}
11:14:48.852 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:48.852 INFO - Handler thread for session 4abd96535fb97f33358d41fc6719da40 (chrome): Executing GET on /session/4abd96535fb97f33358d41fc6719da40/title (handler: ServicedSession)
11:14:48.855 INFO - To downstream: {"sessionId":"4abd96535fb97f33358d41fc6719da40","status":0,"value":"Belanja Alat Kantor, Elektronik, Dapur Harga Murah - Bizzy"}
11:14:48.859 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:48.859 INFO - Handler thread for session 4abd96535fb97f33358d41fc6719da40 (chrome): Executing GET on /session/4abd96535fb97f33358d41fc6719da40/screenshot (handler: ServicedSession)
11:14:49.463 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:49.463 INFO - Handler thread for session 4abd96535fb97f33358d41fc6719da40 (chrome): Executing DELETE on /session/4abd96535fb97f33358d41fc6719da40 (handler: ServicedSession)
11:14:49.516 INFO - To downstream: {"sessionId":"4abd96535fb97f33358d41fc6719da40","status":0,"value":null}
11:14:49.517 INFO - Removing session org.openqa.selenium.remote.server.ServicedSession@271570ac
11:14:49.518 INFO - To downstream: {"sessionId":"4abd96535fb97f33358d41fc6719da40","status":0,"value":null}
